.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
}

/* Header */

.header_box>*,
.home_box>* {
  color: #3D3D3D;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #578E7E;
  margin: 0px 10px;
}

.logo_text {
  font-size: 2.5rem;
  cursor: pointer;
}

.login_btn {
  background-color: #578E7E;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* Main Page  */

.home_box {
  margin-top: 2rem;
}

.main_text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.intro_box {
  margin: 60px 0px;
  min-height: 200px;
  padding: 20px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  background-color: #578E7E;
  color: #fff;
  margin-bottom: 0px;
}

.intro_box_bottom {
  background: #3D3D3D;
  padding: 20px;
  color: #fff !important;
}

.left_box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.profile_image {
  border-radius: 10px;
  border: 1px solid #383838;
  height: 450px;
  min-width: 400px;
}

/* Footer  */

.footer_main {
  margin-top: 50px;
  min-height: 150px;
  /* position: fixed; */
  min-width: 100vw;
  /* bottom: 0; */
  background: #578E7E;
  padding: 20px;
}


/* Login Form  */

.login_form_main_box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form_box {
  border: 2px solid #578E7E;
  border-radius: 10px;
  padding: 20px;
  min-width: 450px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form_align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 100%;
}

.form_align>input {
  width: 100%;
  min-height: 50px;
  background: transparent;
  border: 1px solid #578E7E;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  color: #383838;
  font-size: 20px;
}


/* Snackbar  */

.snackbar_main>* {
  position: relative;
  color: #383838;
}

.snackbar_container {
  position: absolute;
  min-width: 350px;
  min-height: 70px;
  z-index: 1;
  left: 35%;
  top: 300px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.close_icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.close_icon>* {
  cursor: pointer;
}

.message {
  display: flex;
  justify-content: center;
  min-height: 40px;
}

@media(max-width: 500px) {
  .main_text>* {
    font-size: 18px;
  }

  .main_text>h2 {
    text-align: center
  }

  .intro_box {
    flex-direction: column;
  }

  .profile_image {
    margin-top: 20px;
    height: 250px;
    min-width: 300px;
  }

  /* Login / */

  .form_box {
    min-width: 85vw;
    margin: 0px 10px;
  }
}